
.ghe{
    width: 35px;
    height:35px;
    background-color: rgba(148, 146, 146, 0.838);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

}

.gheDaDat{

    background-color: rgb(227, 16, 16);
    cursor: no-drop;
}

.gheDangDat{
    background-color: rgb(37, 130, 37) !important;
}

.gheVip{
    background-color: rgb(242, 180, 35);
}